set default="toyos-multiboot2"
set timeout=1

insmod efi_gop
insmod efi_uga
insmod font

if loadfont ${prefix}/fonts/unicode.pf2
then
    insmod gfxterm
    set gfxmode=auto
    set gfxpayload=keep
    terminal_output gfxterm
fi

menuentry "toyos" {
    multiboot /boot/kernel.elf
}
menuentry "toyos-multiboot2" {
    multiboot2 /boot/kernel.elf
}
